.Flex-Products{
  display:flex;
  justify-content:space-around;
}
.Product-Image{
  display: flex;
  justify-content:center;
  align-items: center;
}
.Product-Image img{
  margin:20px auto;
  width:30vw;
  padding:10px 20px 10px 20px;
}

.Product-Title{
    margin:10px auto;
}
.Product-Text{
  width:80%;
  margin:0 auto;
}
.Product-Third{
  width:calc(100% / 3);
  text-align:center;
}
.Product{
  padding-top:50px;
  padding-bottom:50px;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
  -moz-box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
  box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
}

@media screen and (max-width:600px){
  .Flex-Products{
    display:block;
  }
  .Product-Third{
    width:100vw;
  }
}
@media screen and (max-width:800px){
  .Product-Image img{
    width:60vw;
  }
}
@media screen and (max-width:600px){
  .Product-Image img{
    width:80vw;
    max-width:calc(100vw - 40px);
  }
}
