.Flex-Products{
  display:flex;
  justify-content:space-around;
}
.Product-Image{
  display: flex;
  justify-content:center;
  align-items: center;
}
.Product-Image img{
  position:relative;
  top:7.5vw;
  transform:translateY(-50%);
  width:calc(20vw - 20px);
  padding:10px 20px 10px 20px;
}

.Product-Title{
    margin:10px auto;
}
.Product-Text{
  width:80%;
  margin:0 auto;
}
.Product-Third{
  width:calc(100% / 3);
  text-align:center;
}
.Products{
  max-width:1000px;
  margin:0 auto;
}
.Product-Feature{
  flex: 1 0 calc(100vw / 4);
  width:20vw;
  height:15vw;
  max-width:230px;
  max-height:150px;
  margin:20px 0;
  cursor:pointer;
  background:#fff;
}
@media screen and (min-width:1000px){
  .Product-Image img{
    width:200px;
    top:75px;
  }
}
@media screen and (max-width:600px){
  .Flex-Products{
    display:block;
  }
  .Product-Feature{
    width:40vw;
  }
  .Product-Image img{
    width:30vw;
    max-height:120px;
    margin:0 auto !important;
  }
}
