/* https://coolors.co/f2f4ed-30323d-e87f47-ff3223-fe5f55 */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

/*
  Color palette:
  Use Atom 'Markdown Preview' to get the colors as a preview
  White-
  #f2f4ed
  Black-
  #30323d
  Orange-
  #e87f47
  Red-
  #ff3223
  Red-Orange-
  #fe5f55

*/
.Box-Shadow{
  -webkit-box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
  -moz-box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
  box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
}
.Box-Shadow-Hover{
  transition:box-shadow 0.2s, -webkit-box-shadow 0.2s, -o-box-shadow 0.2s;
}
.Box-Shadow-Hover:hover{
  -webkit-box-shadow: 0px 3px 5px 3px rgba(133,133,133,0.5);
  -moz-box-shadow: 0px 3px 5px 3px rgba(133,133,133,0.5);
  box-shadow: 0px 3px 5px 3px rgba(133,133,133,0.5);
}
.Line-Center{
  vertical-align:middle !important;
  line-height:36px !important;
}
.Title{
  font-size:36px;
  letter-spacing:5px;
  width:80%;
  position:relative;
  left:5%;
}
@media screen and (max-width:800px){
  .Title{
    font-size:28px;
    max-width:calc(100vw - 40px);
  }
}
.Title-Letter-Spacing{
  width:80%;
  position:relative;
  left:5%;
  letter-spacing:5px;
}
.Any-Letter-Spacing{
  letter-spacing:5px;
}

/* Element */
.Text-Stripe{
  height:36px;
}
.Title-Stripe{
  height:30px;
}
.Title-Stripe-Right{
  float:right;
}
.Forty-Width{
  width:40vw !important;
}
.Fifty-Width{
  width:50vw !important;
}
.Fifty-Width-Media{
  width:50vw !important;
}
@media screen and (max-width:800px){
  .Fifty-Width-Media{
    width:100vw !important;
  }
}
.Sixty-Width{
  width:60vw !important;
}
.Seventy-Width{
  width:70vw !important;
}

.Justify{
  text-align:justify;
}
.Center-Text{
  text-align:center !important;
}
.Large-Font{
  font-size:28px;
  line-height:32px;
}
.Medium-Font{
  font-size:22px;
  line-height:24px;
}
.Small-Font{
  font-size:14px;
  line-height:16px;
}
.Very-Small-Font{
  font-size:10px;
  line-height:12px;
}
@media screen and (max-width:800px){
  .Large-Font{
    font-size:24px;
    line-height:28px;
  }
  .Medium-Font{
    font-size:20px;
    line-height:22px;
  }
  .Small-Font{
    font-size:12px;
    line-height:14px;
  }
  .Very-Small-Font{
    font-size:8px;
    line-height:10px;
  }
}


.White{
  color:#f2f4ed;
}
.Black{
  color:#30323d;
}
.Black-Icon i{
  color:#30323d !important;
  display:flex !important;
  justify-content:center !important;
}
.Red{
  color:#ff3223;
}
.Orange{
  color:#e87f47;
}
.RedOrange{
  color:#fe5f55;
}

.WhiteB{
  background:#f2f4ed !important;
}
.BlackB{
  background:#30323d !important;
}
.RedB{
  background:#ff3223 !important;
}
.OrangeB{
  background:#e87f47 !important;
}
.RedOrangeB{
  background:#fe5f55 !important;
}
.Hover-Red{
  transition: background 0.2s;
}
.Hover-Red:hover{
  background:#ff3223 !important;
}
body {
  margin: 0;
  padding: 0;
  font-family:'Josefin Sans',-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f4ed;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Generalized */
.Main-Page-Container{
  width:100vw;
  height:auto;
  min-height:100vh;
  position:absolute;
  top:0px;
  left:0px;
}
/* Block */
.clickable i{
  position:fixed;
  top:10px;
  right:10px;
  cursor:pointer;
  transition:color 0.2s, transform 0.2s;
  color:#ff3223 !important;
  transform: scale(0.9);
}
.clickable:hover i{
  color:#e87f47 !important;
  transform: scale(1.00);
}
.clickable:active i{
  transform:scale(1.05);
}

/* Modifier */
.clickable-menu-modifier{
  background:#30323d;
  height:50px;
  width:50px;
  position:fixed;
  top:0px;
  right:0px;
  border-bottom-left-radius:3px;
  transition:background 0.2s;
}
.clickable-menu-modifier:hover{
  background:#313440;
}
.clickable-menu-modifier i{
  transform:scale(1.00);
  height:50px;
  width:50px;

  position:relative;
  top:5px;
  left:1px;

  color:#f2f4ed !important;
}
.clickable-menu-modifier:hover i{
  color:#f0f0f0 !important;
}
.clickable-menu-modifier:active{
  transform:scale(1.00);
}


/* Block */
.box {
  width: 100vw;
  height: 100vh;
  transform-origin: 50% 50%;
  position:absolute;
}

/* Overlay for UL Block */
.Left-Fill{
  position:fixed;
  top:0px;
  width:calc(110vw);
  height:100vh;
  opacity:0.2;
  background:#fe5f55;
}

/* UL Block */
.sidebar {
  width: 250px;
  height: calc(100vh - 60px);
  background: #ff3223;
  padding: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
}

/* Li Block */
.item {
  border-radius: 5px;
  height: 60px;
  width: 100%;
  float:right;
  opacity: 0;
  margin-bottom: 10px;
  transform-origin-y: 0%;
  transition:width 0.2s;
  color:white;
}
/* Li Element */
.Link-List{
  text-decoration:none;
  width:90%;
  float:left;
  text-align:left;
}
/* Li Element */
.Box-List{
  width:10%;
  float:left;
  text-align:right;
  font-size:24px;
  color:white;
  visibility:hidden;
}
/* Li Modifier */
.Nav-Font{
  display:flex;
  font-size:24px;
  margin:0;
  padding:0;
  height:auto;
  width:auto;
}

/* Main Page */
.Main-Template{
  width:320px;
  margin:0 auto;
  height:350px;
  position:relative;
  top:calc(50vh - 175px);
}
.Main-Text-Spacer{
  margin:0;
  padding:0;
  letter-spacing: 5px;
  line-height:50px;
  vertical-align: middle;
}
.Main-Title-Text{
  font-size:40px;
}
/* Background for Main title */
.stripe{
  position:relative;
  left:0px;
  width:calc(50vw + 330px);
  height:50px;
}
.Full-Stripe{
  width:100vw;
}
@media screen and (max-width:800px){
  .Main-Template{
    margin:0;
  }
}
@media screen and (max-height:400px){
  .Main-Page-Container{
    min-height:500px;
  }
  .Main-Template{
    width:320px;
    margin:0 auto;
    height:270px;
    position:relative;
    top:calc(50% - 135px);
  }
}

.Flex-Items{
  display:flex;
  justify-content:space-around;
}


/* About Page */

.Flex-Items .Lang{
  width:calc((100vw/3) - 20px);
  margin:10px;
}
.Flex-Items .Space{
  width:25vw;
}
.Flex-Items .Option{
  width:50vw;
}
.Duncan{
  margin:3vh 0;
  width:calc(40vw - 100px);
  height:calc(40vw - 100px);
  max-height:500px;
  max-width:500px;
}
@media screen and (max-width:800px){
  .Duncan{
    width:50vw;
    height:50vw;
  }
}
.Grid-4{
  max-width:25vw;
  height:auto;
  margin-bottom:2vh;
}
.One-Third-Guttered{
  width:33vw;
}

.Flex-Break{
  display:flex;
  justify-content:space-around;
}
@media screen and (max-width:550px){
  .Flex-Break{
    display:block;
  }
  .Icon-With-Text{
    display:flex;
    justify-content:space-around;
  }
  .One-Third-Guttered{
    width:100vw;
  }
}
.Paragraph-Width{
  width:80vw;
}



/* Contact */
.Form-Container{
  margin:0 auto;
}
.Input-Text{
  resize:none;
  outline:none;
  width:calc(90% - 16px);
  padding-left:8px;
  padding-right:8px;

  margin:0px 5%;

  border:none;
  border-bottom:4px solid #30323d;

  background:#ffffff;

  height:26px;

  font-size:22px;
  line-height:26px;

  justify-content:center;
  transition:border-bottom 0.2s;

  -webkit-appearance: none;
}
.Input-Text:hover, .Input-Text:focus{
  border-bottom:4px solid #000000;
}
textarea{
  height:52px !important;
}
.Submit-Button{
  margin:20px 0;
  font-size:24px;
  padding:10px 20px 10px 20px;
  border:none;
  cursor:pointer;
  font-weight:600;
  background:#ff3223;
  border-radius:5px;

  transition:background 0.2s;
  -ms-transition:background 0.2s;
  -moz-transition:background 0.2s;
  -webkit-transition:background 0.2s;
  -o-transition:background 0.2s;
  -webkit-appearance: none;
}
.Submit-Button:hover{
  background:#fe5f55;
}


.Paragraph-Control{
  max-width:80vw;
  margin:0 auto;
}
/* 404 */

.Center-Screen{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:800px){
  .Center-Screen{
    display:block;
    clear:both;
    width:90vw;
    padding-left:5vw;
    padding-right:5vw;
  }
}


.Link-Button{
  outline:none;
  border:none;
  padding:8px 16px 8px 16px;
  border-radius:none;
  -webkit-appearance:none;
  background:#ff3223;

  transition:background 0.3s;
  -ms-transition:background 0.3s;
  -moz-transition:background 0.3s;
  -webkit-transition:background 0.3s;
  -o-transition:background 0.3s;

  color:#f2f4ed;
  font-size:20px;

  font-weight:700;

  cursor:pointer;
  border-radius:5px;
}
.Link-Button:hover{
  background:#fe5f55;
}

.Break-Padding{
  width:100vw;
  height:75px;
}
.Center-Flex{
  display:flex;
  justify-content:center;
}
