/* https://coolors.co/f2f4ed-30323d-e87f47-ff3223-fe5f55 */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

/*
  Color palette:
  Use Atom 'Markdown Preview' to get the colors as a preview
  White-
  #f2f4ed
  Black-
  #30323d
  Orange-
  #e87f47
  Red-
  #ff3223
  Red-Orange-
  #fe5f55

*/

.Box-Shadow{
  -webkit-box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
  -moz-box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
  box-shadow: 3px 2px 5px 0px rgba(133,133,133,0.5);
}

.Title{
  font-size:36px;
  letter-spacing:5px;
  width:80%;
  position:relative;
  left:5%;
}
.Title-Letter-Spacing{
  width:80%;
  position:relative;
  left:5%;
  letter-spacing:5px;
}
.Any-Letter-Spacing{
  letter-spacing:5px;
}

/* Element */
.Title-Stripe{
  height:30px;
}
.Title-Stripe-Right{
  float:right;
}
.Forty-Width{
  width:40vw;
}
.Fifty-Width{
  width:50vw;
}
.Sixty-Width{
  width:60vw;
}
.Seventy-Width{
  width:70vw;
}

.Justify{
  text-align:justify;
}
.Center-Text{
  text-align:center;
}
.Large-Font{
  font-size:28px;
  line-height:32px;
}
.Medium-Font{
  font-size:22px;
  line-height:24px;
}
.Small-Font{
  font-size:14px;
  line-height:16px;
}
.Very-Small-Font{
  font-size:10px;
  line-height:12px;
}

.White{
  color:#f2f4ed;
}
.Black{
  color:#30323d;
}
.Black-Icon i{
  color:#30323d !important;
  display:flex !important;
  justify-content:center !important;
}
.Red{
  color:#ff3223;
}
.Orange{
  color:#e87f47;
}
.RedOrange{
  color:#fe5f55;
}

.WhiteB{
  background:#f2f4ed;
}
.BlackB{
  background:#30323d;
}
.RedB{
  background:#ff3223;
}
.OrangeB{
  background:#e87f47;
}
.RedOrangeB{
  background:#fe5f55;
}
body {
  margin: 0;
  padding: 0;
  font-family:'Josefin Sans',-apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f4ed;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Generalized */
.Main-Page-Container{
  width:100vw;
  height:auto;
  min-height:100vh;
  position:absolute;
  top:0px;
  left:0px;
}
/* Block */
.clickable i{
  position:fixed;
  top:10px;
  right:10px;
  cursor:pointer;
  transition:color 0.2s, transform 0.2s;
  color:#ff3223 !important;
  transform: scale(0.9);
}
.clickable:hover i{
  color:#e87f47 !important;
  transform: scale(1.00);
}
.clickable:active i{
  transform:scale(1.05);
}

/* Modifier */
.clickable-menu-modifier{
  background-color:#30323d;
  height:50px;
  width:50px;
  position:fixed;
  top:0px;
  right:0px;
  border-bottom-left-radius:3px;
  transition:background-color 0.2s;
}
.clickable-menu-modifier:hover{
  background-color:#313440;
}
.clickable-menu-modifier i{
  transform:scale(1.00);
  height:50px;
  width:50px;

  position:relative;
  top:5px;
  left:1px;

  color:#f2f4ed !important;
}
.clickable-menu-modifier:hover i{
  color:#f0f0f0 !important;
}
.clickable-menu-modifier:active{
  transform:scale(1.00);
}


/* Block */
.box {
  width: 100vw;
  height: 100vh;
  transform-origin: 50% 50%;
  position:absolute;
}

/* Overlay for UL Block */
.Left-Fill{
  position:fixed;
  top:0px;
  width:calc(110vw);
  height:100vh;
  opacity:0.2;
  background:#fe5f55;
}

/* UL Block */
.sidebar {
  width: 250px;
  height: calc(100vh - 60px);
  background: #ff3223;
  padding: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  overflow-y:scroll;
}

/* Li Block */
.item {
  border-radius: 5px;
  height: 60px;
  width: 100%;
  float:right;
  opacity: 0;
  margin-bottom: 10px;
  transform-origin-y: 0%;
  transition:width 0.2s;
  color:white;
}
/* Li Element */
.Link-List{
  text-decoration:none;
  width:90%;
  float:left;
  text-align:left;
}
/* Li Element */
.Box-List{
  width:10%;
  float:left;
  text-align:right;
  font-size:24px;
  color:white;
  visibility:hidden;
}
/* Li Modifier */
.Nav-Font{
  display:flex;
  font-size:24px;
  margin:0;
  padding:0;
  height:auto;
  width:auto;
}

/* Main Page */
.Main-Template{
  width:320px;
  margin:0 auto;
  height:350px;
  position:relative;
  top:calc(50vh - 175px);
}
.Main-Text-Spacer{
  margin:0;
  padding:0;
  letter-spacing: 5px;
  line-height:50px;
  vertical-align: middle;
}
.Main-Title-Text{
  font-size:40px;
}
/* Background for Main title */
.stripe{
  position:relative;
  left:0px;
  width:calc(50vw + 330px);
  height:50px;
}
@media screen and (max-width:800px){
  .Main-Template{
    margin:0;
  }
}
@media screen and (max-height:400px){
  .Main-Page-Container{
    min-height:500px;
  }
  .Main-Template{
    width:320px;
    margin:0 auto;
    height:270px;
    position:relative;
    top:calc(50% - 135px);
  }
}

.Flex-Items{
  display:flex;
  justify-content:space-around;
}


/* About Page */

.Flex-Items .Lang{
  width:calc((100vw/3) - 20px);
  margin:10px;
}
.Flex-Items .Space{
  width:25vw;
}
.Flex-Items .Option{
  width:50vw;
}
.Duncan{
  margin:3vh 0;
  width:calc(40vw - 100px);
  height:calc(40vw - 100px);
}
.Grid-4{
  max-width:25vw;
  height:auto;
  margin-bottom:2vh;
}
.One-Third-Guttered{
  width:33vw;
}
.Paragraph-Width{
  width:80vw;
}
@media screen and (max-width:800px){
  .Flex-Items{
    display:block;
  }
}
