.Main-Image-Auth{
  position:absolute;
  right:0px;
  top:30vh;
  height:70vh;
  background-size:contain;
  background-position:Center right;
}
.Geeks-Rule-The-World{
  font-size:60px;
  line-height:70px;
  font-weight:700;
}
@media screen and (max-height:400px){
  .Geeks-Rule-The-World{
    font-size:30px;
    line-height:35px;
  }
  .Home-Stripe-Override .stripe{
    height:30px !important;
    font-size:24px !important;
    line-height:30px !important;
  }
}
.HomeTitle{
  margin:0;
  padding:0;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
}
.frame{
  width:80%;
  height:400px;
  position:relative;
  left:10%;
}
