.Main-Image-Auth{
  position:absolute;
  right:0px;
  top:30vh;
  height:70vh;
  background-size:contain;
  background-position:Center right;
}
.Geeks-Rule-The-World{
  font-size:60px;
  line-height:70px;
  font-weight:700;
}
.HomeTitle{
  margin:0;
  padding:0;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
}
.frame{
  width:80%;
  height:400px;
  position:relative;
  left:10%;
}
